.c-canvas {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;

    &__game {
        width: 100%;
        height: 100%;
        box-shadow: 1px 1px 10px -5px rgba(0, 0, 0, 0.5);
        cursor: none;
        z-index: 1;
    }

    &__colorsChoice {
        position: fixed;
        right: 50px;
        top: 180px;
        z-index: 2;

        &__choice {
            background-color: #ff5a5f;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            margin-bottom: 10px;
            border: 1px solid transparent;
            transition: all 0.3s;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;

            &:hover {
                background-color: #000000;
            }
        }
    }

    &__cursor {
        position: absolute;
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        background-color: transparent;
        border: 1px solid #000000;
        cursor: none;
    }
}

.test-war {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
    position: absolute;
    gap: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    background-color: #180F24;

    img {
        width: 48px;
    }

    p {
        color: #FFCC66;
        font-family: $Unibody-bold;
    }
}