.colorBar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-bottom: 15px;
    background-color: white;
    padding: 15px 30px;
    border-radius: 50px;
  }

.colorBtn {
    background-color: #ff5a5f;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
