.container {
  position: absolute;
  z-index: 11;
  display: flex;
  flex-direction: column;
  background-color: #241a29;
  width: 100vw;
  height: 100vh;
}

.logo {
  width: 25%;
  margin-top: 4rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  padding-right: 3rem;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 57.5%;
  height: 100%;
  padding: 0 3rem;
}

.navbar {
  width: 100vw;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem 0;
}

.settings-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #241a29;
  box-shadow: -5px -5px 10px rgba(63, 46, 72, 0.5),
    5px 5px 10px rgba(63, 63, 105, 0.25), 10px 10px 20px rgba(44, 44, 73, 0.5),
    -10px -10px 20px #241a29;
  border-radius: 200px;
  border: none;
  height: 5rem;
  width: 5rem;
}

.settings-btn > img {
  width: 50%;
}

.user-profile-btn {
  display: flex;
  align-items: center;
  background: #241a29;
  box-shadow: -5px -5px 10px rgba(63, 46, 72, 0.5),
    5px 5px 10px rgba(63, 63, 105, 0.25), 10px 10px 20px rgba(44, 44, 73, 0.5),
    -10px -10px 20px #241a29;
  color: white;
  font-size: 2rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 200px;
  height: 5rem;
  font-family: "Gantari";
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  margin: 6rem 0;
}

.timer-sentence {
  font-family: "Gantari";
  font-size: 1.5rem;
}

.timer {
  background: #241a29;
  box-shadow: -5px -5px 10px rgba(63, 46, 72, 0.5),
    5px 5px 10px rgba(63, 63, 105, 0.25), 10px 10px 20px rgba(44, 44, 73, 0.5),
    -10px -10px 20px #241a29;
  border-radius: 30px;
  width: 60%;
  margin: 3rem 0;
}

.timer > p {
    font-size: 8rem;
    padding: 2rem 0;
    text-align: center;
    font-family: $Unibody-black;
}

.avatar {
  border-color: rebeccapurple;
  width: 2rem;
  height: 2rem;
}

@media all and (max-width: 768px) {
    .container {
        position: absolute;
        z-index: 20;
        display: flex;
        flex-direction: column;
        background-color: #241a29;
        width: 100vw;
        height: 100vh;
      }
      
      .logo {
        display: none;
      }
      
      .btn-container {
        display: none;
      }
      
      .nav-container {
        display: none;
      }
      
      .navbar {
        display: none;
      }
      
      .settings-btn {
        display: none;
      }
      
      .settings-btn > img {
        display: none;
      }
      
      .user-profile-btn {
        display: none;
      }
      
      .timer-container {
        display: none;
      }
      
      .timer-sentence {
        display: none;
      }
      
      .timer {
        display: none;
      }
      
      .timer > p {
        display: none;
      }
}