.rules-modal {
 position: absolute;
 left: 50%;
 top: -150%;
 transform: translate(-50%, -50%);
 width: 70%;
 height: 70%;
 background-color: white;
 padding: 40px;
 border: solid 1px $main-orange;
 z-index: 11;
 transition: 0.4s ease-in-out all;

 &__content {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: $Gantari;

  &__header {
   text-align: center;

   h2 {
    @include main-title;
    color: black;

    span {
     @include main-title;
     color: $main-orange;
    }
   }
  }

  &__body{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-top: 75px;
   font-family: $Gantari;
   span{
    color: $main-orange;
    font-weight: bold;
   }
  }
 }

 .close-icon {
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 3%;
 }
}

.coin-rules{
 width: 24px;
}


.modal-active {
 top: 50%;
}

