// COLORS
$main-orange: #E27D41;

// FONTS
    @import url('https://fonts.googleapis.com/css2?family=Gantari&display=swap');
    @font-face {
        font-family: 'Unibody-black';
        src: url('../../assets/Unibody_8_Black.ttf');
    }
    @font-face {
        font-family: 'Unibody-bold';
        src: url('../../assets/Unibody_8_Bold.ttf');
    }
    @font-face {
        font-family: 'Unibody-regular';
        src: url('../../assets/Unibody\ 8\ Regular.ttf');
    }

    $Unibody-black: "Unibody-black";
    $Unibody-bold: "Unibody-bold";
    $Unibody-regular: "Unibody-regular";
    $Gantari: "Gantari";

