*,
::before,
::after {
 box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
ol,
ul,
li,
footer,
header,
nav,
section {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

footer,
header,
nav,
section {
 display: block;
}

body {
 line-height: 1;
}

ol,
ul {
 list-style: none;
}

a {
 text-decoration: none;
}

p {
 line-height: 125%;
}

textarea {
 resize: none;
}

input::placeholder,
textarea::placeholder {
 transition: .3s ease-in-out all;
}

input:focus::placeholder,
textarea:focus::placeholder {
 color: transparent;
}

::-webkit-scrollbar {
 width: 10px;
}

::-webkit-scrollbar-track {
 background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
 background: $secondary-color;
}

::-webkit-scrollbar-thumb:hover {
 background: #888;
}